:root {
  --primary-background: #FC6E51;
  --hover-background: #E9573F;
  --bs-link-color: #cc6043;
  --bs-link-hover-color: #872910;
}

.container {
  padding: 0.75;
  max-width: 100%;
}

@media (min-width: 576px) {
  .container {
    padding: 0 6rem;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 11rem;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 0 18rem;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0 25rem;
  }
}

.form-control:focus, .btn:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.25rem #FC6E514F;
  border-color: var(--primary-background);
}

input[type="range"]::-webkit-slider-thumb {
  background-color: var(--primary-background);
  border-color: var(--primary-background) !important;
  appearance: none;
  -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb {
  background-color: var(--primary-background);
  border-color: var(--primary-background) !important;
  appearance: none;
  -webkit-appearance: none;
}

.form-check-label {
  margin-left: -.5em;
  padding-left: .5em;
}

.form-switch .form-check-input:focus:not(:checked) {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23FC6E51'/%3e%3c/svg%3e");
}

.btn-primary, .form-check-input:checked {
  background-color: var(--primary-background);
  border-color: var(--primary-background);
}

.btn-outline-primary {
  color: var(--primary-background);
  border-color: var(--primary-background);
}

.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline:focus,
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: var(--hover-background);
  border-color: var(--hover-background);
}

.text-bg-secondary {
  background-color: var(--bs-gray-600) !important;
  color: var(--bs-gray-200) !important;
  border-color: var(--bs-gray-500);
}
