:root {
  --bs-link-color: #cc6043;
  --bs-link-hover-color: #DA4453;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ffd454;
  font-family: 'Albert Sans', sans-serif;
}

main {
  flex-grow: 1;
}

footer a {
  color: #357;
}

.form-control:focus, .btn:focus {
  box-shadow: 0 0 0 0.25rem #FC6E514F;
  border-color: #FC6E51;
}

.btn-primary {
  background-color: #FC6E51;
  border-color: #FC6E51;
}

.btn-outline-primary {
  color: #FC6E51;
  border-color: #FC6E51;
}

.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline:focus,
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #E9573F;
  border-color: #E9573F;
}

.bg {
  position: absolute;
  z-index: -100;
  width: 100%;
  height: 100%;
  margin-top: -1rem;
  left: 0;
}

#ime > .bg {
  background-color: #eeedf2;
}

#deconjugator > .bg {
  background-color: #E7E7E7;
}

.textarea-container {
  position: relative;
}

.textarea-container > textarea {
  width: 100%;
  resize: vertical;
  min-height: 4em;
  padding-right: 6em;
}

.textarea-container > button {
  position: absolute;
  top: 1ch;
  right: 2rem;
}

#deconjugator-list .card ul > li:not(:last-child)::after {
  z-index: 200;
  position: absolute;
  bottom: -1em;
  left: 2em;
  right: 2em;
  content: '⬇️';
}

.container {
  padding: 0.75;
  max-width: 100% !important;
}

@media (min-width: 576px) {
  .container {
    padding: 0 6rem;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 11rem;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 0 18rem;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0 25rem;
  }
}
