body {
  font-family: 'Albert Sans', sans-serif;
}

h1 {
  margin-bottom: 1ch;
}

.bg {
  position: absolute;
  z-index: -100;
  width: 100%;
  height: 100%;
  margin-top: -1rem;
  left: 0;
}

#ime > .bg, body {
  background: #CCD1D9;
}

#deconjugator > .bg {
  background: #AAB2BD;
}

.textarea-container {
  position: relative;
}

.textarea-container > textarea {
  width: 100%;
  resize: vertical;
  min-height: 4em;
  padding-right: 6em;
}

.textarea-container > button {
  position: absolute;
  top: 1ch;
  right: 2rem;
}

#deconjugator-list .card ul > li:not(:last-child)::after {
  z-index: 200;
  position: absolute;
  bottom: -12px;
  left: 50%;
  content: '⬇️';
}

.container {
  padding: 0.75;
  max-width: 100% !important;
}

@media (min-width: 576px) {
  .container {
    padding: 0 6rem;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 11rem;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 0 18rem;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0 25rem;
  }
}
