html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Albert Sans', var(--bs-font-sans-serif);
}

header {
  background-color: #ffd454;
}

footer {
  background-color: #A0D468;
}

footer a {
  color: #357;
}

.popover-header {
  background-color: inherit;
  font-size: inherit;
}

@media (max-width: 768px) {
  .small-sm {
    font-size: .875em;
  }
}

section {
  background-color: #eeedf2;
}

section:nth-child(even) {
  background-color: #E7E7E7;
}

.textarea-container {
  position: relative;
}

.textarea-container > .btn:not(.d-none) + textarea {
  width: 100%;
  overflow: hidden;
  resize: none;
  min-height: 4em;
  padding-right: 5em;
}

.textarea-container > .btn {
  position: absolute;
  top: 1ch;
  right: 1ch;
}

#deconjugator-list .card ul > li:not(:last-child)::after {
  z-index: 200;
  position: absolute;
  bottom: -1em;
  left: 2em;
  right: 2em;
  content: '⬇️';
}
